{% extends "pages/Layouts/base.html" %}
{% block content %}
<!-- main content goes here -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <!-- Title -->
  <div class="d-block pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">The world's largest selection of courses</h1>
    <p>Choose from 130,000 online courses with new additions published every month.</p>
  </div>
  
  <div class="row g-3">
    <!-- main course list card  -->
    <div class="col-md-12">
      <div class="card card-body shadow-sm">
        <!-- Tabs Navigation -->
        <ul class="nav nav-underline mb-3" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="python-tab" data-bs-toggle="tab" data-bs-target="#python" type="button" role="tab" aria-controls="python" aria-selected="true">
              <i class="bi bi-code-slash"></i> Python
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="javascript-tab" data-bs-toggle="tab" data-bs-target="#javascript" type="button" role="tab" aria-controls="javascript" aria-selected="false">
              <i class="bi bi-file-code"></i> JavaScript
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="html-tab" data-bs-toggle="tab" data-bs-target="#html" type="button" role="tab" aria-controls="html" aria-selected="false">
              <i class="bi bi-file-earmark-code"></i> HTML5
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="css-tab" data-bs-toggle="tab" data-bs-target="#css" type="button" role="tab" aria-controls="css" aria-selected="false">
              <i class="bi bi-palette"></i> CSS3
            </button>
          </li>
        </ul>
        <!-- tabs -->

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="python"><div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div></div>
          <div class="tab-pane fade" id="javascript" ><div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div></div>
          <div class="tab-pane fade" id="html"><div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div></div>
          <div class="tab-pane fade" id="css"><div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>
    <!-- main course list card  -->
  </div>
</main>
{% endblock %}